<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunchu.yapi.mapper.YcCookbookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunchu.yapi.entity.YcCookbook">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="img" property="img" />
        <result column="food" property="food" />
        <result column="assistfood" property="assistfood" />
        <result column="seasoning" property="seasoning" />
        <result column="attion" property="attion" />
        <result column="method" property="method" />
        <result column="miaoshu" property="miaoshu" />
        <result column="user_code" property="userCode" />
        <result column="user_wx_name" property="userWxName" />
        <result column="user_wx_head" property="userWxHead" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

</mapper>
